@use "../../../scss/index" as *;

.special {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
    @extend .container;
    &__heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    &__title {
        text-align: center;
        font-size: 4rem;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

@media screen and (min-width:  700px) {
    .special {
        &__heading {
            flex-direction: row;
            justify-content: space-between;
        }
        &__list {
            display: flex;
            flex-direction: row;
            gap: 4rem;
        }
    }
}